<footer class="page-footer blue-grey darken-3">
  <div class="container">
     <h5 class="white-text right-align">Enlaces de interés</h5>
     <div class="col l4 offset-l2 s12 right-align">
       <div class="chip">
	 <a class="grey-text text-darken-4" href="http://www.acm.org/">ACM Internacional</a>
       </div>
       <div class="chip">
	 <a class="grey-text text-darken-4" href="http://da.fi.upm.es/">Delegación de Alumnos</a>
       </div>
       <div class="chip">
	 <a class="grey-text text-darken-4" href="http://www.fi.upm.es/">ETSIINF</a>
       </div>
       <div class="chip">
	 <a class="grey-text text-darken-4" href="http://upm.es/">Universidad Politécnica de Madrid</a>
       </div>
     </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Capítulo de estudiantes de ACM, ETSIINF, UPM
      <div class="grey-text text-lighten-4 right" href="#!">Social Networks</div>
    </div>
  </div>
</footer>
