@(title: String)

@main(title) {
<div class="container blue-grey z-depth-2">
<div class="row" id="info-tab-container">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s4"><a href="#info-faq">FAQ</a></li>
      <li class="tab col s4"><a href="#info-contact">Contacto</a></li>
      <li class="tab col s4"><a href="#info-acmeme">ACMeme</a></li>
    </ul>
  </div>
  
  <div id="info-faq" class="col s12">
  <div class="card-panel">
    <h5 class="blue-text">¿Quiénes somos?</h5>
    <blockquote>
      ACM Capítulo de Estudiantes es una de las representaciones estudiantiles de ACM, una importante asociación internacional. Llevamos organizando actividades dentro y fuera de la facultad desde 1986, siendo uno de nuestros principales objetivos aplicar los propósitos culturales, educativos y científicos de ACM entre los estudiantes. Para ello, divulgamos de diferentes maneras el conocimiento informático, buscando siempre favorecer la formación complementaria del alumnado.
    </blockquote>
  </div>
  <div class="card-panel">
    <h5 class="blue-text">¿Qué es ACM (internacional)?</h5>
    <blockquote>
      ACM es una organización internacional científica y educativa dedicada a hacer progresar el arte, la ciencia, la ingeniería y las aplicaciones de la tecnología de la información. Desde su fundación en 1947 sirve tanto a los intereses del público como a los profesionales, fomentando el intercambio abierto de información y promoviendo los más elevados estándares profesionales y éticos.<br>
      <br>
Puedes encontrar más información en <a href="http://www.acm.org">ACM Internacional</a>
    </blockquote>
  </div>
  <div class="card-panel">
    <h5 class="blue-text">¿Qué relación mantiene el Capítulo con ACM?</h5>
    <blockquote>
      Nuestra asociación es, en realidad, un capítulo de estudiantes de la asociación mundial de informáticos más antigua: ACM (Association for Computing Machinery). Es decir, la representación de ACM entre los alumnos de la Universidad Politécnica de Madrid. Debido a esto, es necesario dividir la información de nuestras actividades en dos. Explicaremos, por tanto, qué es y a qué se dedica ACM y, por otro, que hacemos nosotros como Capítulo de Estudiantes de ACM.
    </blockquote>
  </div>
  <div class="card-panel">
    <h5 class="blue-text">¿Qué ventajas tiene ser un socio de ACM?</h5>
    <blockquote>
      Formar parte de ACM te permitirá complementar tu formación tanto académica como profesional. La mejor subscripción para estudiantes es el ACM Student Portal Package (42$ por año) que da acceso completo al portal de ACM de entre cuyos servicios destacan:<br>
- ACM Digital Library: todos los documentos editados por ACM.<br>
- The Guide Computing Literature: guías temáticas.<br>
- Professional Development Centre: cursos para profesionales y libros gratuitos.<br>
    </blockquote>
  </div>
  <div class="card-panel">
    <h5 class="blue-text">¿Es necesario ser socio de ACM (internacional) para ser socio del Capítulo de Estudiantes de la ETSIINF?</h5>
    <blockquote>
      No, el Capítulo de Estudiantes es una asociación estudiantil en sí misma; no es necesario ser miembro de ACM Internacional. Sin embargo, lo consideramos muy recomendable a título personal.
    </blockquote>
  </div>
  <div class="card-panel">
    <h5 class="blue-text">¿Cómo puedo asociarme?</h5>
    <blockquote>
      Pásate por la sala de asociaciones (junto al bloque 1) y preséntate a los miembros. No es necesario un gran nivel de conocimientos, sólo te exigiremos interés y ganas de aprender ;)<br><br>
No hay que pagar ninguna cuota para ser socio.
    </blockquote>
  </div>
  <div class="card-panel">
    <h5 class="blue-text">¿Tengo que ser socio para poder acudir a los cursos?</h5>
    <blockquote>
      Aunque siempre recomendamos asociarse, no es necesario ser miembro del Capítulo para poder asistir a los cursos. Si estás interesado en los que damos cada año, puedes suscribirte a la lista de noticias para recibir información (fechas, temario, etc.) sobre ellos. Consulta la sección Listas de este sitio web.<br>
<br>
Si tienes alguna sugerencia sobre otros posibles cursos o actividades que no veas aquí, no dudes en contactar con nosotros (consulta la sección Contacto).
    </blockquote>
  </div>
  </div>

  <div id="info-contact" class="col s12">
    <div class="card-panel">
      <h5 class="blue-text">Contacto</h5>
      <blockquote><h6 class="blue-text"><i class="tiny material-icons">location_on</i> Sala de asociaciones</h6>
      <p>Junto al bloque 1, Campus de Montegancedo de la UPM, Madrid, España, Tierra, Sistema Solar, Vía Láctea, Universo</p>
      <h6 class="blue-text"><i class="tiny material-icons">email</i> Email</h6>
      <p>Nuestro email es: <a href="mailto:acm@("@")acm.asoc.fi.upm.es">acm@("@")acm.asoc.fi.upm.es</a></p>
      <h6 class="blue-text"><i class="tiny material-icons">markunread_mailbox</i> Carta</h6>
      <p>Capítulo de Estudiantes ACM<br>
      ETSIINF - Universidad Politécnica de Madrid<br>
      Campus de Montegancedo s/n<br>
      28660 Boadilla del Monte<br>
      MADRID (SPAIN)<br></p></blockquote>
    </div>
  </div>

  <div id="info-acmeme" class="col s12">
    <div class="card-panel">
    <h5 class="blue-text">Openlibra</h5>
    <blockquote>
      ACM's first (maybe) Meme! If you haven't heard about it yet, check <a href="https://openlibra.com/">OpenLibra.com</a>
    </blockquote>
  </div>
  </div>
  </div>
</div>
}
