@(title: String)

@main(title) {

<form action="#" class="row">
  <div class="card col s10 offset-s1 m6 offset-m3 l4 offset-l4">
    <div class="card-content">
      <div class="input-field">
	<i class="material-icons prefix">perm_identity</i>
	<input id="name" type="text" class="validate">
	<label for="name">User</label>
      </div>
      <div class="input-field">
	<input id="password" type="password" class="validate">
	<label for="password">Password</label>
      </div>
    </div>
    <div class="card-action">
      <a href="#" class="blue-text">Login</a>
    </div>
  </div>
<form>
}
